@font-face {
    font-family: 'finalf';
    src: url('../fonts/Ferrum.eot');
    src: url('../fonts/Ferrum.eot?#iefix') format('embedded-opentype'), url('../fonts/Ferrum.woff2') format('woff2'), url('../fonts/Ferrum.woff') format('woff'), url('../fonts/Ferrum.ttf') format('truetype'), url('../fonts/Ferrum.svg#Ferrum') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    padding-top: 100px;
    background-image: url('../img/halftone.png');
}

.ff {
    font-family: 'finalf';
}

.title {
    text-align: center;
    font-size: 8em;
    text-decoration: underline;
}

.subtitle {
    text-align: center;
    font-size: 4em;
    color: #D4AF37;
}

.introtitle {
    text-align: center;
    font-size: 6em;
    text-decoration: underline;
}

.introsubtitle {
    text-align: center;
    font-size: 2.5em;
    color: #D4AF37;
    margin-bottom: 1em;
}

.btn-gold {
    background-color: #D4AF37;
    color: white;
    width: 6em;
}

.btn-first {
    background-color: #D4AF37;
    color: white;
    width: 12em;
    height: 3em;
    margin-top: 3em;
    margin-bottom: 3em;
}

.btn-first:hover,
.btn-last:hover {
    background-color: black;
    color: #D4AF37;
    transition: 0.5s;
}

.btn-last {
    background-color: #D4AF37;
    color: white;
    width: 12em;
    height: 3em;
    margin-top: 3em;
    margin-bottom: 6em;
}

.carousel-header {
    background-color: black;
    color: white;
    padding-left: 20px;
    margin: 0px;
    font-family: 'finalf';
    font-size: 3em;
}

.botmargin {
    margin-bottom: 5em;
}

.shadow-corner {
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
}

.carousel-caption {
    position: static;
    left: auto;
    right: auto;
    color: black;
    background-color: white;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
    height: auto;
}

.caption {
    background: white;
    margin: 0px;
    padding: 20px 50px 10px 50px;
}

.carousel-inner {
    margin: auto;
}

.carousel-indicators {
    bottom: -0.5em;
}

.carousel-indicators .active {
    background-color: #D4AF37;
}

.carousel-indicators li {
    background-color: black;
}